<div fxLayout="column" class="container">
  <sah-toolbar [showFilterBtn]="isHandset$ | async" (filterBtnClicked)="toggleFilter()"></sah-toolbar>
  <mat-drawer-container hasBackdrop="false" fxLayout="column" class="container" fxFlex="1 1 auto">
    <mat-drawer-content fxFlex="1 1 auto" fxLayout="column" class="container">
      <sah-list [ds]="ds" [filter]="filter" fxFlex="1 1 auto"></sah-list>
    </mat-drawer-content>

    <mat-drawer [mode]="mode$ | async" [opened]="filterOpened" position="end" [ngClass.lt-md]="{ full: true }"
                [ngClass.gt-sm]="{ full: false }">
      <sah-filter [filter]="filter" (filterChanged)="handleFilterChanged($event)"></sah-filter>
    </mat-drawer>
  </mat-drawer-container>
</div>
